body {
    text-align: center;
    background-image: url("./image/drum.jpg");
    background-size:cover;
    background-position: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 3px 0 rgb(0, 10, 104);
}

.drum {
    outline: none;
    border: 10px solid rgb(0, 0, 0);
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    color: blueviolet;
    text-shadow: 3px 0 rgb(15, 9, 9);
    border-radius: 10px;
    padding: 25px;
    background-color: transparent;
}


footer {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    position: flex;
}

.pressed {
    transform: scale(0.95);
    transition: transform 0.1s;
    background-color: none;
  }

.set {
    margin: 10% auto;
}

.button-text {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: black;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: black;
}

